:root {
  --primary-color: #ff5757;
  --secondary-color: #262626; /* Dark Gray for better contrast */
  --bg-color: #f9f9f9; /* Slightly off-white for a modern touch */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  --input-bg-color: #ffffff;
}

body {
  font-size: 1.1rem;
  background-color: var(--bg-color);
  padding: 2% 10%;
  font-family: "Arial", sans-serif; /* Added a generic font for safety */
}

.inputs-container,
.range-container {
  background-color: var(--input-bg-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
}

.range-label,
.custom-file-upload {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.range-slider {
  width: 100%;
  margin-bottom: 10px;
}
label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #2f3542;
}

input[type="date"]:hover,
input[type="date"]:focus {
  border-color: #ff5757;
  outline: none;
}
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #2f3542;
}

.range-count,
.cost-count {
  font-size: 1rem;
  color: var(--secondary-color);
}

.range-value,
.cost-value {
  color: var(--primary-color);
  font-weight: bold;
}

.custom-file-upload {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #e45050;
}

.card-preview {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
  height: 550px;
  width: 300px;
  margin: 0 auto;
}

.qrcode-container {
  max-width: 270px;
  max-height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrcode {
  width: 90%;
  height: auto;
  max-height: 600px;
}

button.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #fff;
  transition: background-color 0.3s ease;
}

button.btn-primary:hover {
  background-color: #e45050;
}

@media (max-width: 768px) {
  body {
    padding: 2% 5%;
  }

  .card-preview {
    padding: 60px 30px;
    height: auto;
    width: 100%;
  }
}

.promo-feedback {
  margin-top: 8px;
  font-size: 12px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
